<%= form_for @wish do |f| %>

  <div class="field">
    <%= f.label :item, "item" %>
    <%= f.text_field :item %>
  </div>

 
  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= link_to "戻る", root_path %>